@model IEnumerable<Domain.Models.Weapon>
@using Domain.Helpers
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

<div class="row">
    <div class="col">
        <div class="d-flex flex-row-reverse" style="margin-right:2%; margin-top:2%">

            <a class="btn-floating btn-large waves-effect waves-light deep-purple darken-2"
               asp-area=""
               asp-controller="Weapon"
               asp-action="Create">
                <i class="material-icons left">add</i>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">

            <h2 class="center">List of Weapons</h2>
        </div>
    </div>




    <div class="row">
        <div class="col">
            <table class="highlight">
                <thead>
                    <tr>
                        <th></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Type</th>
                        <th>Created</th>
                        <th>Last update</th>
                    </tr>
                </thead>
                @foreach (var item in Model)
                {
                    <tbody>
                        <tr>

                            <td>
                                <img src="https://shopgun.com.ua/image/cache/catalog/15120353-500x370.jpg" alt="" class="square responsive-img">
                            </td>
                            <td>@item.Id</td>
                            <td>@item.Name </td>
                            <td>@item.WeaponType.ToString() </td>
                            <td>@item.Created.ToString("d") </td>
                            <td>@item.LastUpdate.ToString("d") </td>
                            <td>
                                <a asp-action="Edit" asp-controller="weapon" asp-route-id="@item.Id" class="btn-floating btn-large waves-effect waves-light deep-purple darken-2"><i class="large material-icons">edit</i></a>
                            </td>
                            <td>
                                <form asp-controller="weapon" asp-action="Delete" method="post" asp-route-id="@item.Id">

                                    <button class="btn-floating btn-large waves-effect waves-light red" type="submit" value="Delete"><i class="large material-icons">delete_forever</i></button>
                                </form>

                            </td>
                        </tr>
                    </tbody>
                }
            </table>
        </div>
    </div>
</div>
<style>
    select {
        display: inline !important;
    }
</style>
